* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e5e4f0;
    --header-color: #76669b;
    --header-text: #f8f7fb;
    --text-primary: #050505;
    --text-secondary: #3d3d3d;
    --grid-item: #9e92c0;
    --form-color: #b9b2d3;

    --btn-a-hover: #362e47;
    --btn-active: #b9b2d3;
}

body {
    line-height: 1.6;
    background-color: var(--bg-color);
}

.header {
    font-family: "Poppins", sans-serif;
    background-color: var(--header-color);
    color: var(--header-text);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 6px;
}

.logo {
    display: flex;
    justify-content: end;

    & h1 {
        margin-left: 15px;
        font-size: 1.8rem;
        font-weight: 600;
        }
    
    & img {
        margin-top: 6px;
        width: 32px;
        height: 32px;       
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.nav-links a {
    color: var(--header-text);
    text-decoration: none;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

a:hover {
    color: var(--btn-a-hover);
    transition: 250ms;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}


.sectionSobre {
    margin-block: 18px;
    
    & h2 {
        color: var(--text-primary);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }

    & p {
        color: var(--text-secondary);
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: justify;
        text-indent: 54px;
    }
}

.sectionAventuras {
    margin-block: 18px;
    
    & h2 {
        color: var(--text-primary);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }

}

.aventuras-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 20px;
}

.aventura-item {
    margin-block: 18px;
    background-color: var(--grid-item);
    border-radius: 2%;

    & img {
        width: 400px;
        height: 240px;
        border-radius: 2%;
    }

    & h3 {
        color: var(--text-primary);
        margin-top: 6px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: left;
        margin-left: 10px;
    }

    & p {
        color: var(--text-secondary);
        margin-top: 0px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.sectionContato {
    margin-block: 18px;
    
    & h2 {
        color: var(--text-primary);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }

    & p {
        color: var(--text-secondary);
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: center;     
        margin-bottom: 18px;
    }

    & form {
        border-radius: 5%;
        margin: auto;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: var(--form-color);
        padding: 30px;

        & input {
            width: 320px;
            height: 30px;
            margin-inline: auto;
            margin-bottom: 20px;
            font-family: "Poppins", sans-serif;
            color: var(--text-secondary);
            border: solid 1px var(--text-secondary);
            text-indent: 5px;
        }

        & textarea {
            width: 320px;
            height: 120px;
            margin-inline: auto;
            margin-bottom: 20px;
            font-family: "Poppins", sans-serif;
            color: var(--text-secondary);
            border: solid 1px var(--text-secondary);
            text-indent: 5px;
        }

        & .btn {
            width: 100px;
            height: 30px;
            margin-inline: auto;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: var(--text-primary);
            border: solid 1px var(--text-primary);
        }
    }
}

input[type="submit"]:hover {
    background-color: var(--btn-a-hover);
    color: var(--header-text);
    transition: 250ms;
}

input[type="submit"]:active {
    background-color: var(--btn-active);
    color: var(--text-primary);
}

.footer {
    margin-top: 72px;
    margin-bottom: 36px;
    
    & p {
        color: var(--text-secondary);
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        text-align: center;     
        margin-bottom: 18px;
    }
}
